# Wordpress - ignore core, configuration, examples, uploads and logs.
# https://github.com/github/gitignore/blob/main/WordPress.gitignore

# Core
#
# Note: if you want to stage/commit WP core files
# you can delete this whole section/until Configuration.
/gitignore
/.vscode
/wp-admin/
/wp-content/index.php
/wp-content/languages
/wp-content/plugins/
/wp-content/themes/index.php
/wp-includes/
/index.php
*.txt
/wp-*.php
/xmlrpc.php
*.json
*.html
*.md
*.zip
*.rar


# Configuration
wp-config.php

# Uploads
# /wp-content/uploads/

# Log files
*.log

# htaccess
/.htaccess

# All plugins
#
# Note: If you wish to whitelist plugins,
# uncomment the next line
#/wp-content/plugins

# All themes
#
# Note: If you wish to whitelist themes,
# uncomment the next line
#/wp-content/themes